*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --primary-color: #3c3e3f;
    --secondary-color: #a2a7aa;
    --text-color: white;
    --text-cardColor: #000;
    --background-color: linear-gradient(307deg, rgba(5,34,9,1) 9%, rgba(86,213,110,1) 19%, rgba(26,150,38,1) 29%, rgba(5,34,9,1) 84%);
}

/* CONTEUDO PRINCIPAL */
body{
    background: var(--background-color);
    color: var(--text-color);
}
.main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    max-width: 100%;  
    max-height: 100%;
}
.topico-principal{
    /* background-color: var(--primary-color); */
    display: flex;
    width:100%;
    height: 100%;
    padding: 20px;
    gap: 15px;
}
.conteudo-texto-subtitulo{
    text-align: center;
}
.conteudo-texto{
    display: flex;
    flex-direction: column;
    font-size: 15pt;
    padding: 30px 10px;
}
.conteudo-texto h2{
    padding: 18px;
    margin-top: 15px;
    text-align: center;
    font-size: 25pt;
}
.conteudo-texto h5{
    padding: 18px;
    margin-top: 25px;
    margin-bottom: -1cm;
    text-align: center;
}
.conteudo-texto p{
    padding-top: 15px;
    padding-left: 30px;
    margin-top: 20px;
    margin-bottom: 0;
}
/* --------- AJUSTE DE IMAGENS */
img{
    width: 100%;;
    height: auto;
    object-fit: cover;
}
.card{
    width: 600px;
    color: var(--text-cardColor)
}
.menor{
    width: 950px;
}
.menor img{
    height: 400px;
}
.ajuste{
    width: 1400px;
    height: 640px;
}
.ajuste2{
    width: 700px;
    height: 640px;
}
/* ------------FIM DAS IMAGENS */
.linha-separadora{
    border-bottom: var(--text-cardColor) 0.6px solid;
    width: 70%;
    margin: 10px 0;
}
.btn:hover{
    background-color: var(--secondary-color);
    border: none;
}
/* ------------- FIM CONTEUDO PRINCIPAL */

@media screen and (min-width: 300px) and (max-width: 800px){
    .topico-principal{
        flex-wrap: wrap;
        gap: 15px;
    }
    .card{        
        width: 300px;
        margin-left: 0.8cm;
    }
    .conteudo-texto{
        padding: 0%;
    }
    .conteudo-texto h2{
        padding: 9px;
        margin: 0;
        text-align: center;
    }
}